
.handleTime{
    color: gray;
   
    
}
.title{
    display: inline-flex;
}
.img-title{
    display:flex;
    justify-content: center;
    align-items: center;

}
p{
    display:flex;
    justify-content: center;
    align-self: center;
}

.text{
    display:flex;
    align-items: right;
    justify-content: right;
    border: 1px solid green;
    padding-left: 80px;
    max-width: 400px ;
    max-height: 300px; 
}

.wrapper{
    display:  flex;
    justify-content: center;
    align-items: center;
    border: 3px solid pink;
    flex-direction: column;

}
img{
    display: inline-flex ;
    align-self: center;
    justify-content: center;
    
    border-radius: 100px;
    width:75px;
    height:75px;
}
/* 
.block {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border: 2px solid gray;
    border-radius: 15px;
    background: linear-gradient(orange 55%, white 45%)

} */
address{
    display:block;
    } 
.bottomBox
{
    display:flex ;
    justify-content: start;
    align-items: flex-start;
    Color: black;
    border: 2px solid gray;

}
button{
    display: flex;
    align-self: flex-start;
    width: 50px;
    height: 50px;

}
.topBox{
    /* border-radius: 15px; */
    /* background-color: BLUE; */
    /* left: 400px; */
    /* padding: 20px;  */
    /* width: 400px;
    height: 100px;  */
    color: white;
    background-color: orange;
    font-size:25px;
    display: flex;
    width: 400px; 
    height:70px;
    border-radius: 15px;
    justify-content: start;
    align-items: center;
    align-self:baseline;
    border: 1px solid gray;
    margin: 3px;
  }

  ul{
      list-style-type: none;
  }

  .li{
    border-style: solid gray;
    border-width: 2px;
  }